@model List<PumasUnah.BL.Tienda>

@{
    ViewBag.Title = "Inicio";
}
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            @foreach (var tienda in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="@(ViewBag.adminwebsiteurl + tienda.UrlImagen)" alt="" />
                        <a class="btn hvr-hover" href="#">@tienda.Descripcion</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- End Categories -->
<!-- Start Products  -->


<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="row special-list">
                @foreach (var tienda in Model
.Where(r => r.Categoria.Descripcion == "Camisolas")
.Take(4)
.OrderBy(r => Guid.NewGuid())
)
                {
                    <div class="col-lg-3 col-md-6 special-grid top-featured">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="new">Nuevo</p>
                                </div>
                                <img src="@(ViewBag.adminwebsiteurl + tienda.UrlImagen)" class="img-fluid" alt="">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">Agregar al carrito</a>
                                </div>

                                <div class="col-lg-3 col-md-6 special-grid best-seller">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <div class="type-lb">
                                                <p class="sale">Disponible</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                <div class="why-text">
                                    <h4>@tienda.Descripcion</h4>
                                    <h5> L @tienda.Precio</h5>
                                </div>

                                <!-- End Products  -->
                }
